<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <title>ToDo List</title>
</head>
<body>

<button class="pull-right btn btn-default" onclick="location.href='/logout'" id="logout">logout</button>

<div class="container">
    <div class="page-header">
        <h1>To Do List</h1>
    </div>

    <div class="form-group form-inline">
        <input type="text" class="form-control" name="description" placeholder="오늘 할일" id="description"
               style="width: 35%">
        <button type="button" class="btn btn-default" id="insert">등록</button>
    </div>

    <br/><br/><br/>

    <div id="mainHide">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-6">내용</th>
                <th class="col-md-1">작성 날짜</th>
                <th class="col-md-1">완료 날짜</th>
                <th class="col-md-1">삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="todo : ${todoList}" th:data-idx="${todo.idx}">
                <td th:if="${todo.status}" th:text="${todo.description}" style="text-decoration: line-through"></td>
                <td th:if="!${todo.status}" th:text="${todo.description}" contenteditable="true" class="edit"></td>
                <td th:text="${todo.createdDate} ? ${#temporals.format(todo.createdDate,'yyyy-MM-dd')} : ${todo.createdDate}"></td>
                <td th:text="${todo.completedDate} ? ${#temporals.format(todo.completedDate,'yyyy-MM-dd')} : ${todo.completedDate}"></td>
                <td>
                    <input type="checkbox" class="status" th:checked="${todo.status}">
                    <button type="button" class="btn btn-danger delete">삭제</button>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
    <br/>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script>
        $('#insert').click(function () {
            var jsonData = JSON.stringify({
                description: $('#description').val()
            });
            $.ajax({
                url: "http://localhost:8080/todo",
                type: "POST",
                data: jsonData,
                contentType: "application/json",
                dataType: "json",
                success: function () {
                    location.href = '/todo/list';
                },
                error: function () {
                    alert('저장 실패!');
                }
            });
        });

        $('.delete').click(function () {
            $.ajax({
                url: "http://localhost:8080/todo/" + $(this).closest("tr").data("idx"),
                type: "DELETE",
                success: function () {
                    location.href = '/todo/list';
                },
                error: function () {
                    alert('삭제 실패!');
                }
            });
        });

        $('.status').click(function () {
            $.ajax({
                url: "http://localhost:8080/todo/" + $(this).closest("tr").data("idx"),
                type: "PUT",
                contentType: "application/json",
                dataType: "json",
                success: function () {
                    location.href = '/todo/list';
                },
                error: function () {
                    alert('수정 실패!');
                }
            });
        });

        $('.edit').blur(function () {
            var jsonData = JSON.stringify({
                description: $(this).html()
            });
            $.ajax({
                url: "http://localhost:8080/todo/edit/" + $(this).closest("tr").data("idx"),
                type: "PUT",
                data: jsonData,
                contentType: "application/json",
                dataType: "json",
                success: function () {
                    location.href = '/todo/list';
                },
                error: function () {
                    alert('수정 실패!');
                }
            });
        });
    </script>
</div>
</body>
</html>