<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <title>ToDo List</title>
</head>

<body>
<div style="width: 30%; margin-left: auto; margin-right: auto">
    <h1>Login</h1>
    <form action="/login/form" method="post">
        <input type="text" placeholder="id" id="id">
        <br>
        <input type="text" placeholder="pw" id="pw">
        <div>
            <button type="button" name="button" id="login">login</button>
            <button type="button" onclick="location.href='/login/register'" name="button">sign up</button>
        </div>
    </form>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script>
    $('#login').click(function () {
        var jsonData = JSON.stringify({
            id: $('#id').val(),
            pw: $('#pw').val()
        });
        $.ajax({
            url: "http://localhost:8080/login/form",
            type: "POST",
            data: jsonData,
            contentType: "application/json",
            dataType: "json",
            success: function () {
                location.href = '/todo/list';
                var jsonData = JSON.stringify({
                    id: $('#id').val()
                });
                $.ajax({
                    url: "http://localhost:8080/todo/list",
                    type: "POST",
                    data: jsonData,
                    contentType: "application/json",
                    dataType: "json"
                });


            },
            error: function (request) {
                alert(request.responseText);
            }
        });
    });
</script>

</body>

</html>