<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <title>ToDo List</title>
</head>

<body>
<div class="" style="text-align: center">
    <h1>Sign up</h1>

    <form action="/login/register" method="post">
        <input type="text" placeholder="id" name="id">
        <br>
        <input type="email" placeholder="email" name="email">
        <br>
        <input type="password" placeholder="pw" name="pw">
        <br>
        <button type="submit">sign up</button>
    </form>

</div>

</body>
</html>
