<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <title>ToDo List</title>
</head>
<body>


<div class="container" style="border-radius: 20px; border-color: pink; border-style: solid">
    <div class="page-header" style="background: pink; color: white; padding: 20px; border-radius: 20px">
        <h1 class="text-center">TO DO List</h1>
    </div>

    <hr>

    <button class="pull-right btn btn-default" onclick="location.href='/logout'" id="logout">logout</button>
    <br>

    <div class="form-group form-inline text-center" style="margin: auto">
        <input type="text" class="form-control" name="description" placeholder="오늘 할일" id="description"
               style="width: 50%">
        <button type="button" class="btn btn-default" id="insert">등록</button>
    </div>

    <br/><br/><br/>

    <div th:each="todo : ${todoList}" th:data-idx="${todo.idx}"
         style="width: 90%; height: auto; margin: 15px auto; padding: 20px; border-radius: 10px; background: pink; color: white">
        <div>
            <div>
                <div th:if="${todo.status}" th:text="${todo.description}"
                     style="font-size: 25px; text-decoration: line-through"></div>
                <div th:if="!${todo.status}" th:text="${todo.description}" class="edit"
                     style="font-size: 30px; display: inline-block"></div>
                <div style="float: right;">
                    <button type="button" class="btn btn-info show_reply">댓글</button>
                    <button type="button" class="btn btn-primary edit_description">수정</button>
                    <button type="button" class="btn btn-success complete">완료</button>
                    <button type="button" class="btn btn-danger delete">삭제</button>
                </div>
            </div>
            <div>
                <span th:text="${todo.createdDate} ? ${#temporals.format(todo.createdDate,'yyyy-MM-dd')} : ${todo.createdDate}"></span>
            </div>
            <div class="replies" style="margin: auto; display: none;">
                <hr>
                <ul class="comment_list" data-test="test">
                    <li th:each="comment : ${todo.comments}" th:text="${comment.content}"></li>
                </ul>
                <div class="form-group form-inline" style="margin: auto;">
                    <input type="text" class="form-control input_reply" name="description" placeholder="댓글"
                           style="width: 35%">
                    <button type="button" th:value="${todo.idx}" class="btn btn-default list_insert">등록</button>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script>
        $('.show_reply').click(function () {
            var list = $(this).parent().parent().parent().parent().find('.replies');
            list.slideToggle('slow');
        });

        $('#insert').click(function () {
            var jsonData = JSON.stringify({
                description: $('#description').val()
            });
            $.ajax({
                url: "http://localhost:8080/todo",
                type: "POST",
                data: jsonData,
                contentType: "application/json",
                dataType: "json",
                success: function () {
                    location.href = '/todo/list';
                },
                error: function () {
                    alert('저장 실패!');
                }
            });
        });

        $('.delete').click(function () {
            $.ajax({
                url: "http://localhost:8080/todo/" + $(this).parent().parent().parent().parent().data("idx"),
                type: "DELETE",
                success: function () {
                    location.href = '/todo/list';
                },
                error: function () {
                    alert('삭제 실패!');
                }
            });
        });

        $('.complete').click(function () {
            $.ajax({
                url: "http://localhost:8080/todo/" + $(this).parent().parent().parent().parent().data("idx"),
                type: "PUT",
                contentType: "application/json",
                dataType: "json",
                success: function () {
                    location.href = '/todo/list';
                },
                error: function () {
                    alert('수정 실패!');
                }
            });
        });

        $('.list_insert').click(function () {
            var idx = $(this).val();
            var text = $(this).parent().find('.input_reply');
            var ul = $(this).parent().parent().find('ul');
            var jsonData = JSON.stringify({
                content: text.val()
            });
            $.ajax({
                url: "http://localhost:8080/comment/" + idx,
                type: "POST",
                data: jsonData,
                contentType: "application/json",
                dataType: "json",
                success: function () {
                    var comment = document.createElement('li');
                    var comment_text = document.createTextNode(text.val());
                    comment.appendChild(comment_text);
                    ul.append(comment);
                    text.val('')
                    text.focus();
                },
                error: function () {
                    alert('등록 실패!');
                }
            });
        });

        $('.edit_description').click(function () {
            var description = $(this).parent().parent().find('.edit');
            description.attr('contenteditable', 'true');
            description.trigger('focus');
            var idx = $(this).parent().parent().parent().parent().data('idx');

            $('.edit_description').click(function () {
                var jsonData = JSON.stringify({
                    description: description.text()
                });
                $.ajax({
                    url: "http://localhost:8080/todo/edit/" + idx,
                    type: "PUT",
                    data: jsonData,
                    contentType: "application/json",
                    dataType: "json",
                    success: function () {
                        location.href = '/todo/list';
                    },
                    error: function () {
                        alert('수정 실패!');
                    }
                });
            });
        });


    </script>
</div>
</body>
</html>